<%- include('header') %>
<div class="ui grid">
    <div class="four wide column">
    123
    </div>

    <div class="eight wide column">
<% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>
    </div>
</div>
<%- include('footer') %>