。
        <input type="file" name="file1">
        <input type="file" name="file2">
        <input type="file" name="file3">
        <input type="file" name="file4">
        <input type="file" name="file5">
      <!-- <div class="field required">        
      </div>
      </div>
      </div>
      </div>
      </div> -->
      <div class="field required">
      <div class="field required">       
      <div class="field required">       
      <div class="field required">        
      <input type="submit" class="ui button fluid" value="上传">
    123
    <%- include('footer')%>
    </div>
    </div>
    </form>
    <div class="eight wide column">
    <div class="four wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
<%-include('header')%>
</div>
<div class="ui grid">